
        <footer> 
        
        </footer>
        
        <div class="fix-nav-menu">
                <div class="main-wrapper">
                   <div class="hamburger hamburger--collapse left">
                       <div class="hamburger-box">
                                   <div class="hamburger-inner"></div>
                           </div>
                   </div>
                   <ul class="nav-fix">
                      <li><a href="javascript: void(0);">О проекте</a></li>
                      <li><a href="javascript: void(0);">расположение</a></li>
                      <li><a href="javascript: void(0);">генплан</a></li>
                      <li><a href="javascript: void(0);"><img src="pic/design/logo-fix.png" alt="logo"></a></li>
                      <li><a href="javascript: void(0);">квартиры</a></li>
                      <li><a href="javascript: void(0);">ипотека</a></li>
                      <li><a href="javascript: void(0);">контакты</a></li>
                   </ul>
                   <a href="javascript: void(0);">
                       <i class="mess right"></i>
                    </a>     
                </div>
           
                
        </div>

        <script src="flib/jquery.min.js"></script>
        <script src="flib/jquery.bxslider.min.js"></script>
        <script src="flib/jquery.waypoints.min.js"></script>
        <script src="jscripts/script.js"></script>

    </body>
</html>