
        <footer> 
            <div class="main-wrapper">
                <p class="offer">
                    Представленная информация не является публичной офертой
                </p>
            </div>
            
        </footer>
        
        <script src="jscripts/jquery.min.js"></script>
        <script src="jscripts/jquery.bxslider.min.js"></script>
        <script src="jscripts/jquery.waypoints.min.js"></script>
        <script src="jscripts/ion.rangeSlider.min.js"></script>
        <script src="jscripts/jquery.tablesorter.min.js"></script>
        <script src="jscripts/jquery.tablesorter.widgets.min.js"></script>
        <script src="jscripts/jquery.panzoom.min.js"></script>
        <script src="jscripts/panzoom.js"></script>
        <script src="jscripts/jquery.fancybox.pack.js"></script>
        <script src="jscripts/script.js"></script>

    </body>
</html>