
        <footer> 
            <div class="main-wrapper">
                <p class="offer">
                    Представленная информация не является публичной офертой
                </p>
            </div>
            
        </footer>
        
        <div class="nav-menu fix">
                <div class="main-wrapper both">
                   <div class="hamburger hamburger--collapse left">
                       <div class="hamburger-box">
                                   <div class="hamburger-inner"></div>
                           </div>
                   </div>
                   <ul class="nav-fix">
                      <li><a href="javascript: void(0);">О проекте</a></li>
                      <li><a href="javascript: void(0);">расположение</a></li>
                      <li><a href="javascript: void(0);">генплан</a></li>
                      <li><a href="javascript: void(0);"><img src="pic/design/logo-fix.png" alt="logo"></a></li>
                      <li><a href="javascript: void(0);">квартиры</a></li>
                      <li><a href="javascript: void(0);">ипотека</a></li>
                      <li><a href="javascript: void(0);">контакты</a></li>
                   </ul>
                   <a href="javascript: void(0);">
                       <i class="mess right"></i>
                    </a>     
                </div>
           
        </div>
        <div class="menu-open">
            <div class="hamburger hamburger--collapse">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <ul>
                <li><a href="javascript: void(0);"><span>Главная</span></a></li>
                <li><a href="javascript: void(0);"><span>О проекте</span></a></li>
                <li><a href="javascript: void(0);"><span>Расположение</span></a></li>
                <li><a href="javascript: void(0);"><span>Инфраструктура</span></a></li>
                <li><a href="javascript: void(0);"><span>Генплан</span></a></li>
                <li><a href="javascript: void(0);"><span>Квартиры</span></a></li>
                <li><a href="javascript: void(0);"><span>Машиноместа</span></a></li>
                <li><a href="javascript: void(0);"><span>Кладовки</span></a></li>
                <li><a href="javascript: void(0);"><span>Ипотека</span></a></li>
                <li><a href="javascript: void(0);"><span>Взаимозачет</span></a></li>
                <li><a href="javascript: void(0);"><span>Ход строительства</span></a></li>
                <li><a href="javascript: void(0);"><span>Документы</span></a></li>
                <li><a href="javascript: void(0);"><span>Новости</span></a></li>
                <li><a href="javascript: void(0);"><span>Участики строительства</span></a></li>
                <li><a href="javascript: void(0);"><span>Контакты</span></a></li>
            </ul>
        </div>
        <script src="flib/jquery.min.js"></script>
        <script src="flib/jquery.bxslider.min.js"></script>
        <script src="flib/jquery.waypoints.min.js"></script>
        <script src="jscripts/script.js"></script>

    </body>
</html>