@import "partials/path";
@import "partials/print";
@import "partials/font";



/////////////////////////////////////

.main-wrapper{
  width: 768px;
  margin: 0 auto;
}




$em-base: 18px;
$akcent: #6b1838;

body{
  font-family: $HelvetNeueCond;
}
h1{
  font-size: rem(40);
}

i{
  display: inline-block;
}
a{
  color: #6b1838;
  text-decoration: underline;
  outline: none;
  &:hover{
    color: #9d2251;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  &:focus {
    outline: none;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.both:after {
  clear: both;
  content: "";
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}

.cr {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0.1px;
  display: block;
}

.outer {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}






.headers{
  //position: fixed;
  width: 100%;
  //top: 0;
  //left: 0;
  background-color: #ffffff;
  .hamburger{
    padding: 7px 12px 0;
 
  }
}

.logo-box{
  background-color: #f8f5f1;
  width: 32%;
  line-height: 97px;
  height: 98px;
}
.logo{
  display: inline-block;
  margin: -73px 0 20px;
}

.phone-box{
  width: 68%;
}

.web-cam{
  background: #f8f5f1 url('../pic/design/web-cam.png') 0 0 no-repeat;
  width: 140px;
  text-align: center;
  a{
    text-transform: uppercase;
    color: #8e6a4f;
    text-decoration: none;
    border-bottom: 1px dashed #8e6a4f;
    line-height: 97px;
    &:hover{
      border-bottom-color: transparent; 
    }
  }
}

.phones{
  line-height: 97px;
  text-align: center;
  width: 73%;
  padding: 0 0 0 20px;
  i{
    vertical-align: middle;
  }
  .mess{
    float: right;
    margin: 34px 10px 0 0;
  }
  span{
    text-decoration: none;
    color: #504d5e;
    font-size: rem(24);
    padding: 0 7px;
    b{
      font-family: $HelvetNeueBdCond;
    }
  }
}

.menu-open{
  position: fixed;
  //display: none;
  top: 0;
  left: -100%;
  bottom: 0;
  //right: 0;
  width: 100%;
  height: 100%;
  background: #602038 url('../pic/design/open-menu-bg.png') 0 0 no-repeat;
  z-index: 9991;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  &.active{
    left: 0;
  }
  .hamburger {
    display: block;
    padding: 15px;
    .hamburger-inner {
      background-color: #fff;
      &:before,
      &:after {
        background-color: #fff;
      }
    }
  }
  ul{
    
  }
  li{
    
  }
  a{
    color: #f1e9e3;
    text-transform: uppercase;
    font-size: rem(36);
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
    //&:hover{
    //  border-bottom-color: transparent;
    //}
    span{
      display: inline-block;
      padding: 0 0 0 78px;
    }
  }
}



.left-article{
  width: 32%;
  padding: 0 0 0 53px;
  background: #f8f5f1 url('../pic/design/left-article-bg.png') 0 100% no-repeat;
  min-height: 600px;
  .aderss{
    color: #ac9576;
    line-height: 22px;
    text-transform: uppercase;
  }
  h2{
    padding: 25px 0 7px;
    width: 420px;
    margin: 0 0 0 -16px;
    position: relative;
    z-index: 99;
    span{
      display: inline-block;
      background-color: #f8f5f1;
      padding: 0 10px 10px;
      margin: 0 0 -10px;
    }
    a{
      display: inline-block;
      font-size: rem(70);
      color: #9c7f6f;
      font-family: $BebasNeue;
      font-weight: normal;
      text-decoration: none;
      border-bottom: 3px solid #9c7f6f;
    }
    sup{
      color: #9c7f6f;
      font-size: rem(35);
      display: inline-block;
      border-bottom: 2px solid #9c7f6f;
      line-height: 30px;
    }
  }
  p{
    color: #280a15;
    padding-bottom: 38px;
  }
}

.arows{
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  &.col-ar-1{
    background-color: rgba(215,201,172,0.7);
  }
  &.col-ar-2{
    background-color: #7e364f;
    color: #FFFFFF; 
  }
}
.slider-box{
  width: 68%;
}
.lin-top-slider{
  //background: url('../pic/design/lin-slider-top.png') 0 0 no-repeat;
  background-color: #a9446a;
  height: 8px;
  width: 100%;
  display: block;
  span{
    display: block;
    height: 8px;
    width: 0%;
    background-color: #fddfd5;
  }
}

.bx-wrapper{
  height: 592px;
  //overflow: hidden;
  position: relative;
}
.bx-controls{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 36px 11px;
  .bx-prev{
    margin-right: 88px;
  }
}


.business-class-box{
  background: #e9dfd2 url('../pic/design/business-class-bg.png') 100% 100% no-repeat;
  min-height: 580px;
}

.newss-box{
  background: #7D1136 url('../pic/design/newss-bg.png') 0 0 no-repeat;
  color: #FFFFFF;
  width: 87.4%;
  padding: 25px 0 8px 4.5%;
  height: 211px;
}




.item-new{
  width: 33.333%;
  float: left;
  padding: 0 3% 0 0;
  p{
    text-transform: uppercase;
    color: #d5c6a6;
    line-height: 20px;
    font-size: rem(16);
    margin: 10px -5px 10px 0;
  }
  &.colors-w{
    padding: 0 33px 0 19px;
    strong{
      display: inline-block;
      margin: 0 0 10px;
      a{
        font-size: rem(36);
        color: #FFFFFF;
        font-family: $BebasNeue;
        font-weight: normal;
        text-decoration: none;
        border-bottom: 2px solid #FFFFFF;
        &:hover{
          border-bottom-color: transparent;
        }
      }
      
    }
    p{
      color: #FFFFFF;
      text-transform: none;
      font-size: rem(20);
    }
    .arows{
      color: #FFFFFF; 
    }
  }
}

.img-box{
  height: 98px;
  width: 100%;
  position: relative;
  padding: 11px;
  img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .cont-item-new{
    position: relative;
    z-index: 999;
    border: 3px solid #FFFFFF;
    background-color: rgba(37,6,18,0.3);
    text-align: center;
    padding: 25px 0;
    span{
      font-size: rem(22);
    }
  }

}



.big-box{
  max-width: 664px;
  margin: 0 auto;
  p{
    margin-bottom: 38px;
  }
}

.h2{
  .red{
    display: inline-block;
    width: 40px;
    height: 8px;
    background-color: #a9446a;
  }
  font-family: $BebasNeue;
  font-size: rem(65);
  color: #624b3e;
  text-transform: uppercase;
  font-weight: normal;
}



.location-box{
  background: #ede5db url('../pic/design/location-box-bg.png') 0 0 no-repeat;
  min-height: 390px;
}

.tar{
  text-align: right;
}


.arch-complex-box{
  background: #f2ece4 url('../pic/design/arch-complex-bg.png') 100% 100% no-repeat;
  min-height: 390px;
}




.tiles-box{
  
}

.tiles-top{
  min-height: 388px;
  position: relative;
  width: 100%;
}
.one-bg{
  background: url('../pic/design/tiles-bg-1.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 50%;
  min-height: 388px;
}
.two-bg{
  background: url('../pic/design/tiles-bg-2.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 50%;
  min-height: 388px;
}
.wrapp-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-tiles{
  width: 25%;
  position: relative;
  height: 194px;
  &.bg-img-1{
    background: url('../pic/design/bg-img-1.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  a{
    font-size: rem(36);
    text-transform: uppercase;
    color: #f2ece4;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 6, 29, 0.6);
    text-align: center;
    z-index: 3;
    text-decoration: none;
    padding: 56px 0;
  }
}

.two-item{
  width: 50%;
  margin: 0 auto;
  height: 194px;
  background-color: rgba(103, 20, 52, 0.8);
  display: block;
  font-size: rem(48);
  color: #f2ece4;
  text-decoration: none;
  text-transform: uppercase;
  padding: 24px 0 0 52px;
  &:hover{
    color: #f2ece4;
  }
}

.tiles-bottom{
  background: url('../pic/design/tiles-bottom-bg.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 194px;
}

.item-bottom{
  float: left;
  width: 25%;
  min-height: 194px;
  position: relative;
  overflow: hidden;
  img{
    margin: 0 0 -4px;
    height: 100%;
    width: 100%;
  }
  a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: $BebasNeue;
    color: #f2ece4;
    font-size: rem(36);
    background-color: rgba(103, 20, 52, 0.8);
    padding: 40px 0 0;
    &.col-plai{
      background-color: #a0385f;
    }
    span{
      display: block;
    }
  }
}

.tiles-two-box{
  background: url('../pic/design/tiles-two-bg.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 313px;
  .big-box{
    color: #FFFFFF; 
    .h2{
      color: #e3dece;
    }
  }
}

.button-vis{
  font-size: rem(25);
  color: #762342;
  background-color: #dbcaa1;
  text-align: center;
  line-height: 46px;
  width: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.map{
  img{
    width: 100%;
  }
}

.nav-menu{
  
  background-color: #fff;
  text-align: center;
  &.fix{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  
  .hamburger{
    display: inline-block;
   
  }
  .mess{
    margin: 15px 13px 0 0;
  }
}
.nav-fix{
  display: inline-block;
  padding: 5px 0 0;
  
  li{
    display: inline-block;
  }
  a{
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    color: #504d5e;
    text-decoration: none;
    padding: 0 7px;
    font-size: rem(20);
  }
}
.menu-fix{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
header{
  height: 58px;
}

.wr-slid{
  position: relative;
  img{
    width: 100%;
    margin: 0 0 -5px;
  }
  .bx-wrapper{
    height: auto;
  }
  .bx-controls{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.button-slid{
  position: absolute;
  left: 52px;
  bottom: 0;
  li{
    margin: 16px 0;
  }
  a{
    display: inline-block;
  }
}

.business-class2-box{
  background: #e9dfd2 url('../pic/design/business-class2-bg.png') 100% 100% no-repeat;
  min-height: 428px;
  overflow: hidden;
  .big-box{
    p{
      margin-bottom: 10px;
      line-height: 23px;
    }
  }
}


.advantages{
  background-color: #f2ece4;
  position: relative;
  padding: 58px 60px 50px;
  &:before{
    content: '';
    position: absolute;
    left: 50px;
    top:  0;
    width: 5px;
    background-color: #925069;
    display: block;
    height: 100%;
  }
  h2{
    color: #ae9e89;
    font-size: rem(66);
    text-transform: uppercase;
    font-family: $BebasNeue;
    font-weight: normal;
    padding: 0 0 0 40px;
  }
}


.advantages-box{
  background-color: #f2ece4;
}
.item-adv{
  .img{
    width: 50%;
    img{
      width: 100%;
      margin: 0 0 -4px;
    }
  }
  .title{
    width: 50%;
    h3{
      font-family: $BebasNeue;
      font-size: rem(52);
      line-height: 47px;
      color: #f2ece4;
      text-transform: uppercase;
      background-color: #974564;
      min-width: 450px;
      font-weight: normal;
      padding: 14px 0 14px 14px;
      margin: 60px 0 30px;
      position: relative;
      z-index: 9;
      &.right{
        background-image: url("../pic/design/h3-bg-1.png");
        background-position: 100% 100%;
        background-repeat: no-repeat;
      }
      &.left{
        background-image: url("../pic/design/h3-bg-2.png");
        background-position: 0 100%;
        background-repeat: no-repeat;
        padding: 14px 0 14px 50px;
      }
      sup{
        font-size: rem(30);
      }
    }
    p{
      padding: 0 50px 0 30px;
      color: #2b2839;
      font-size: rem(20);
    }
  }
}

.offer{
  text-align: center;
  color: #2b2839;
  background-color: #dfd8cc;
  font-size: rem(12);
  margin: 0;
  padding: 10px 0;
}


//************ ПЛАВНАЯ АНИМАЦИЯ ***********//
//@include transition(all 0.5s $ease-out-cubic);

//-webkit-transition: all 0.7s ease 0s;
//-moz-transition: all 0.7s ease 0s;
//-o-transition: all 0.7s ease 0s;
//transition: all 0.7s ease 0s;

/////////////////////////////////////////
@import "partials/media";
