


//////////////////////////////////////////////////////


html{
  font-size:$em-base;
}

body{
 
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b{
  margin: 0;
}

h1{
  
}
h2{
  
}
h3{
  
}
h4{
  
}
h5{
  
}
h6{
  
}

strong{
  
}
b{
  
}

p{
  margin: 10px 0;
}

i{
  display : inline-block;
}