/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arr-1-name: 'arr-1';
$arr-1-x: 0px;
$arr-1-y: 0px;
$arr-1-offset-x: 0px;
$arr-1-offset-y: 0px;
$arr-1-width: 21px;
$arr-1-height: 5px;
$arr-1-total-width: 75px;
$arr-1-total-height: 1856px;
$arr-1-image: '../pic/design/sprite.png';
$arr-1: (0px, 0px, 0px, 0px, 21px, 5px, 75px, 1856px, '../pic/design/sprite.png', 'arr-1', );
$arr-2-name: 'arr-2';
$arr-2-x: 0px;
$arr-2-y: 25px;
$arr-2-offset-x: 0px;
$arr-2-offset-y: -25px;
$arr-2-width: 21px;
$arr-2-height: 5px;
$arr-2-total-width: 75px;
$arr-2-total-height: 1856px;
$arr-2-image: '../pic/design/sprite.png';
$arr-2: (0px, 25px, 0px, -25px, 21px, 5px, 75px, 1856px, '../pic/design/sprite.png', 'arr-2', );
$beside-hover-name: 'beside-hover';
$beside-hover-x: 0px;
$beside-hover-y: 50px;
$beside-hover-offset-x: 0px;
$beside-hover-offset-y: -50px;
$beside-hover-width: 61px;
$beside-hover-height: 61px;
$beside-hover-total-width: 75px;
$beside-hover-total-height: 1856px;
$beside-hover-image: '../pic/design/sprite.png';
$beside-hover: (0px, 50px, 0px, -50px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'beside-hover', );
$beside-name: 'beside';
$beside-x: 0px;
$beside-y: 131px;
$beside-offset-x: 0px;
$beside-offset-y: -131px;
$beside-width: 61px;
$beside-height: 61px;
$beside-total-width: 75px;
$beside-total-height: 1856px;
$beside-image: '../pic/design/sprite.png';
$beside: (0px, 131px, 0px, -131px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'beside', );
$but-acord-name: 'but-acord';
$but-acord-x: 0px;
$but-acord-y: 212px;
$but-acord-offset-x: 0px;
$but-acord-offset-y: -212px;
$but-acord-width: 22px;
$but-acord-height: 25px;
$but-acord-total-width: 75px;
$but-acord-total-height: 1856px;
$but-acord-image: '../pic/design/sprite.png';
$but-acord: (0px, 212px, 0px, -212px, 22px, 25px, 75px, 1856px, '../pic/design/sprite.png', 'but-acord', );
$but-m-name: 'but-m';
$but-m-x: 0px;
$but-m-y: 257px;
$but-m-offset-x: 0px;
$but-m-offset-y: -257px;
$but-m-width: 31px;
$but-m-height: 31px;
$but-m-total-width: 75px;
$but-m-total-height: 1856px;
$but-m-image: '../pic/design/sprite.png';
$but-m: (0px, 257px, 0px, -257px, 31px, 31px, 75px, 1856px, '../pic/design/sprite.png', 'but-m', );
$calendar-ico-name: 'calendar-ico';
$calendar-ico-x: 0px;
$calendar-ico-y: 308px;
$calendar-ico-offset-x: 0px;
$calendar-ico-offset-y: -308px;
$calendar-ico-width: 19px;
$calendar-ico-height: 16px;
$calendar-ico-total-width: 75px;
$calendar-ico-total-height: 1856px;
$calendar-ico-image: '../pic/design/sprite.png';
$calendar-ico: (0px, 308px, 0px, -308px, 19px, 16px, 75px, 1856px, '../pic/design/sprite.png', 'calendar-ico', );
$camers-name: 'camers';
$camers-x: 0px;
$camers-y: 344px;
$camers-offset-x: 0px;
$camers-offset-y: -344px;
$camers-width: 32px;
$camers-height: 35px;
$camers-total-width: 75px;
$camers-total-height: 1856px;
$camers-image: '../pic/design/sprite.png';
$camers: (0px, 344px, 0px, -344px, 32px, 35px, 75px, 1856px, '../pic/design/sprite.png', 'camers', );
$day-night-hover-name: 'day-night-hover';
$day-night-hover-x: 0px;
$day-night-hover-y: 399px;
$day-night-hover-offset-x: 0px;
$day-night-hover-offset-y: -399px;
$day-night-hover-width: 61px;
$day-night-hover-height: 61px;
$day-night-hover-total-width: 75px;
$day-night-hover-total-height: 1856px;
$day-night-hover-image: '../pic/design/sprite.png';
$day-night-hover: (0px, 399px, 0px, -399px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'day-night-hover', );
$day-night-name: 'day-night';
$day-night-x: 0px;
$day-night-y: 480px;
$day-night-offset-x: 0px;
$day-night-offset-y: -480px;
$day-night-width: 61px;
$day-night-height: 61px;
$day-night-total-width: 75px;
$day-night-total-height: 1856px;
$day-night-image: '../pic/design/sprite.png';
$day-night: (0px, 480px, 0px, -480px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'day-night', );
$home-name: 'home';
$home-x: 0px;
$home-y: 561px;
$home-offset-x: 0px;
$home-offset-y: -561px;
$home-width: 29px;
$home-height: 34px;
$home-total-width: 75px;
$home-total-height: 1856px;
$home-image: '../pic/design/sprite.png';
$home: (0px, 561px, 0px, -561px, 29px, 34px, 75px, 1856px, '../pic/design/sprite.png', 'home', );
$mess-name: 'mess';
$mess-x: 0px;
$mess-y: 615px;
$mess-offset-x: 0px;
$mess-offset-y: -615px;
$mess-width: 40px;
$mess-height: 28px;
$mess-total-width: 75px;
$mess-total-height: 1856px;
$mess-image: '../pic/design/sprite.png';
$mess: (0px, 615px, 0px, -615px, 40px, 28px, 75px, 1856px, '../pic/design/sprite.png', 'mess', );
$netting-1-name: 'netting-1';
$netting-1-x: 0px;
$netting-1-y: 663px;
$netting-1-offset-x: 0px;
$netting-1-offset-y: -663px;
$netting-1-width: 48px;
$netting-1-height: 47px;
$netting-1-total-width: 75px;
$netting-1-total-height: 1856px;
$netting-1-image: '../pic/design/sprite.png';
$netting-1: (0px, 663px, 0px, -663px, 48px, 47px, 75px, 1856px, '../pic/design/sprite.png', 'netting-1', );
$netting-2-name: 'netting-2';
$netting-2-x: 0px;
$netting-2-y: 730px;
$netting-2-offset-x: 0px;
$netting-2-offset-y: -730px;
$netting-2-width: 48px;
$netting-2-height: 49px;
$netting-2-total-width: 75px;
$netting-2-total-height: 1856px;
$netting-2-image: '../pic/design/sprite.png';
$netting-2: (0px, 730px, 0px, -730px, 48px, 49px, 75px, 1856px, '../pic/design/sprite.png', 'netting-2', );
$netting-3-name: 'netting-3';
$netting-3-x: 0px;
$netting-3-y: 799px;
$netting-3-offset-x: 0px;
$netting-3-offset-y: -799px;
$netting-3-width: 48px;
$netting-3-height: 52px;
$netting-3-total-width: 75px;
$netting-3-total-height: 1856px;
$netting-3-image: '../pic/design/sprite.png';
$netting-3: (0px, 799px, 0px, -799px, 48px, 52px, 75px, 1856px, '../pic/design/sprite.png', 'netting-3', );
$next-name: 'next';
$next-x: 0px;
$next-y: 871px;
$next-offset-x: 0px;
$next-offset-y: -871px;
$next-width: 19px;
$next-height: 34px;
$next-total-width: 75px;
$next-total-height: 1856px;
$next-image: '../pic/design/sprite.png';
$next: (0px, 871px, 0px, -871px, 19px, 34px, 75px, 1856px, '../pic/design/sprite.png', 'next', );
$parade-hover-name: 'parade-hover';
$parade-hover-x: 0px;
$parade-hover-y: 925px;
$parade-hover-offset-x: 0px;
$parade-hover-offset-y: -925px;
$parade-hover-width: 61px;
$parade-hover-height: 61px;
$parade-hover-total-width: 75px;
$parade-hover-total-height: 1856px;
$parade-hover-image: '../pic/design/sprite.png';
$parade-hover: (0px, 925px, 0px, -925px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'parade-hover', );
$parade-name: 'parade';
$parade-x: 0px;
$parade-y: 1006px;
$parade-offset-x: 0px;
$parade-offset-y: -1006px;
$parade-width: 61px;
$parade-height: 61px;
$parade-total-width: 75px;
$parade-total-height: 1856px;
$parade-image: '../pic/design/sprite.png';
$parade: (0px, 1006px, 0px, -1006px, 61px, 61px, 75px, 1856px, '../pic/design/sprite.png', 'parade', );
$pdf-name: 'pdf';
$pdf-x: 0px;
$pdf-y: 1087px;
$pdf-offset-x: 0px;
$pdf-offset-y: -1087px;
$pdf-width: 46px;
$pdf-height: 54px;
$pdf-total-width: 75px;
$pdf-total-height: 1856px;
$pdf-image: '../pic/design/sprite.png';
$pdf: (0px, 1087px, 0px, -1087px, 46px, 54px, 75px, 1856px, '../pic/design/sprite.png', 'pdf', );
$plai-name: 'plai';
$plai-x: 0px;
$plai-y: 1161px;
$plai-offset-x: 0px;
$plai-offset-y: -1161px;
$plai-width: 69px;
$plai-height: 69px;
$plai-total-width: 75px;
$plai-total-height: 1856px;
$plai-image: '../pic/design/sprite.png';
$plai: (0px, 1161px, 0px, -1161px, 69px, 69px, 75px, 1856px, '../pic/design/sprite.png', 'plai', );
$slid-next-name: 'slid-next';
$slid-next-x: 0px;
$slid-next-y: 1250px;
$slid-next-offset-x: 0px;
$slid-next-offset-y: -1250px;
$slid-next-width: 40px;
$slid-next-height: 74px;
$slid-next-total-width: 75px;
$slid-next-total-height: 1856px;
$slid-next-image: '../pic/design/sprite.png';
$slid-next: (0px, 1250px, 0px, -1250px, 40px, 74px, 75px, 1856px, '../pic/design/sprite.png', 'slid-next', );
$slid-prev-name: 'slid-prev';
$slid-prev-x: 0px;
$slid-prev-y: 1344px;
$slid-prev-offset-x: 0px;
$slid-prev-offset-y: -1344px;
$slid-prev-width: 40px;
$slid-prev-height: 74px;
$slid-prev-total-width: 75px;
$slid-prev-total-height: 1856px;
$slid-prev-image: '../pic/design/sprite.png';
$slid-prev: (0px, 1344px, 0px, -1344px, 40px, 74px, 75px, 1856px, '../pic/design/sprite.png', 'slid-prev', );
$slidbutt-hover-name: 'slidbutt-hover';
$slidbutt-hover-x: 0px;
$slidbutt-hover-y: 1438px;
$slidbutt-hover-offset-x: 0px;
$slidbutt-hover-offset-y: -1438px;
$slidbutt-hover-width: 50px;
$slidbutt-hover-height: 50px;
$slidbutt-hover-total-width: 75px;
$slidbutt-hover-total-height: 1856px;
$slidbutt-hover-image: '../pic/design/sprite.png';
$slidbutt-hover: (0px, 1438px, 0px, -1438px, 50px, 50px, 75px, 1856px, '../pic/design/sprite.png', 'slidbutt-hover', );
$slidbutt-name: 'slidbutt';
$slidbutt-x: 0px;
$slidbutt-y: 1508px;
$slidbutt-offset-x: 0px;
$slidbutt-offset-y: -1508px;
$slidbutt-width: 50px;
$slidbutt-height: 50px;
$slidbutt-total-width: 75px;
$slidbutt-total-height: 1856px;
$slidbutt-image: '../pic/design/sprite.png';
$slidbutt: (0px, 1508px, 0px, -1508px, 50px, 50px, 75px, 1856px, '../pic/design/sprite.png', 'slidbutt', );
$table-sort-name: 'table-sort';
$table-sort-x: 0px;
$table-sort-y: 1578px;
$table-sort-offset-x: 0px;
$table-sort-offset-y: -1578px;
$table-sort-width: 21px;
$table-sort-height: 11px;
$table-sort-total-width: 75px;
$table-sort-total-height: 1856px;
$table-sort-image: '../pic/design/sprite.png';
$table-sort: (0px, 1578px, 0px, -1578px, 21px, 11px, 75px, 1856px, '../pic/design/sprite.png', 'table-sort', );
$time-name: 'time';
$time-x: 0px;
$time-y: 1609px;
$time-offset-x: 0px;
$time-offset-y: -1609px;
$time-width: 22px;
$time-height: 21px;
$time-total-width: 75px;
$time-total-height: 1856px;
$time-image: '../pic/design/sprite.png';
$time: (0px, 1609px, 0px, -1609px, 22px, 21px, 75px, 1856px, '../pic/design/sprite.png', 'time', );
$tur-3d-name: 'tur-3d';
$tur-3d-x: 0px;
$tur-3d-y: 1650px;
$tur-3d-offset-x: 0px;
$tur-3d-offset-y: -1650px;
$tur-3d-width: 75px;
$tur-3d-height: 66px;
$tur-3d-total-width: 75px;
$tur-3d-total-height: 1856px;
$tur-3d-image: '../pic/design/sprite.png';
$tur-3d: (0px, 1650px, 0px, -1650px, 75px, 66px, 75px, 1856px, '../pic/design/sprite.png', 'tur-3d', );
$zum-minus-name: 'zum-minus';
$zum-minus-x: 0px;
$zum-minus-y: 1736px;
$zum-minus-offset-x: 0px;
$zum-minus-offset-y: -1736px;
$zum-minus-width: 50px;
$zum-minus-height: 50px;
$zum-minus-total-width: 75px;
$zum-minus-total-height: 1856px;
$zum-minus-image: '../pic/design/sprite.png';
$zum-minus: (0px, 1736px, 0px, -1736px, 50px, 50px, 75px, 1856px, '../pic/design/sprite.png', 'zum-minus', );
$zum-plus-name: 'zum-plus';
$zum-plus-x: 0px;
$zum-plus-y: 1806px;
$zum-plus-offset-x: 0px;
$zum-plus-offset-y: -1806px;
$zum-plus-width: 50px;
$zum-plus-height: 50px;
$zum-plus-total-width: 75px;
$zum-plus-total-height: 1856px;
$zum-plus-image: '../pic/design/sprite.png';
$zum-plus: (0px, 1806px, 0px, -1806px, 50px, 50px, 75px, 1856px, '../pic/design/sprite.png', 'zum-plus', );
$spritesheet-width: 75px;
$spritesheet-height: 1856px;
$spritesheet-image: '../pic/design/sprite.png';
$spritesheet-sprites: ($arr-1, $arr-2, $beside-hover, $beside, $but-acord, $but-m, $calendar-ico, $camers, $day-night-hover, $day-night, $home, $mess, $netting-1, $netting-2, $netting-3, $next, $parade-hover, $parade, $pdf, $plai, $slid-next, $slid-prev, $slidbutt-hover, $slidbutt, $table-sort, $time, $tur-3d, $zum-minus, $zum-plus, );
$spritesheet: (75px, 1856px, '../pic/design/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
